.header {
    background-color: #c4c4c42a;
    padding: 15px;
    display: flex; 
    align-items: center;
    position: fixed;
    border-bottom: solid;
    border-bottom-color: #1cfeba7a;
    width: 100vw;
    margin-top: -20vh;
    z-index: 999;
}

.header * {
    color: #03989e;
}

.header h1 {
    flex-grow: 1;
    padding-left: 1%;
}

.header a {
    padding: 1vw;
    text-decoration: none;
    border-radius: 20%;
   
}

.header nav a:hover {
    background-color: #95F2D9;
    color: #161925;
}

@media (max-width:600px) {
    .header nav a:hover {
        background-color: transparent;
        color: #03989e;
    }
    
}


