@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    padding: 100px;
    padding-bottom: 60px;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-duration: 3s;
}

.titleProjeto {
    font-size: 50px;
   color: #03989e;
}

.projetos {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 5%;
}

.projetos * {
  width: 29vw;
}

@media (max-width:600px) {

.main {
  justify-content: start;
  height: 10vh;
  margin-top: 70px;
  margin-bottom: 250vh;
}

  .titleProjeto {
    font-size: 50px;
   margin-bottom: 1vh;
   color: #03989e;
}

  .projetos {
   display: flex;
   flex-direction: column;
  }

  .projetos * {
    height: 30vh;
    padding: 2%;
    width: 79vw;
  }
}